<form role="form" ng-submit="main.cartServ.commits()" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col colLeft">
    <fieldset class="field-group">
        <legend class="title">购物车</legend>
        <div class="btnBox" ng-hide="main.cartServ.cartIsEmpty()">
            <input role="button" type="submit" class="btn btn-bottom btn-info btn-left" value="提交"/>
            <a role="button" class="btn btn-bottom btn-danger" ng-click="main.cartServ.clearCart()">清空</a>
        </div>
        <pre ng-show="main.cartServ.cartIsEmpty()">购物车空空如也╮(╯▽╰)╭</pre>
        <ul class="list-group">
            <li ng-repeat="item in main.cartServ.itemInCart" class="list-group-item">
                <span>{{item.name}}</span>
                <span class="nums">
                    <a class="minus pointer" ng-click="item.amount=(item.amount>0 ? item.amount-1 : 0)">-</a>
                    <input type="text" class="inputNum" ng-model="item.amount" onKeyup="value=this.value.replace(/\D+/g,'')"/> 
                    <a class="add pointer" ng-click="item.amount = item.amount+1">+</a>
                    <span>{{item.unit}}</span>
                </span>
            </li>
        </ul>
    </fieldset>
</form>