<form role="form" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 col colLeft">
    <fieldset class="field-group">
        <legend class="title">购物车</legend>
        <div class="btnBox" ng-if="!main.cartServ.cartIsEmpty()">
            <a role="button" type="submit"  class="btn btn-bottom btn-info btn-left" ng-click="main.cartServ.commits()">提交</a>
            <a role="button" class="btn btn-bottom btn-danger" ng-click="main.cartServ.clearCart()">清空</a>
        </div>
        <pre ng-if="main.cartServ.cartIsEmpty()">购物车空空如也╮(╯▽╰)╭</pre>
        <ul class="list-group">
            <li ng-repeat="item in main.cartServ.itemInCart" class="list-group-item">
                <span>{{item.name}}</span>
                <span class="nums">
                    <span >数量：</span>
                    <input type="text" class="inputNum" ng-model="item.amount" />
                    <span>{{item.unit}}</span>
                </span>
            </li>
        </ul>
    </fieldset>
</form>