<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 col colLeft">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title title">小票</h3>
        </div>
        <div class="panel-body">
            <div class="btnBox" ng-if="!main.cartServ.cartIsEmpty()">
                <a role="button" class="btn btn-bottom btn-success" ng-click="main.printReceiptServ.printReceipt()">结账</a>
            </div>
            <pre ng-if="!main.printReceiptServ.printClickFlag">此处显示购物小票</pre>
            <div ng-if="main.printReceiptServ.printClickFlag" class="receiptContent">
                <table class="table" style="border: 0 solid">
                    <caption class="receiptTitle">"没钱赚商店"购物清单</caption>
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>数量</th>
                            <th>单价</th>
                            <th>小计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in main.printReceiptServ.payment.resultItems">
                            <td>{{item.name}}</td>
                            <td>{{item.amount}}{{item.unit}}</td>
                            <td>{{item.price}}(元)</td>
                            <td>{{item.price * item.amount}}(元)</td>
                            <td>{{item.save}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" ng-if="main.printReceiptServ.payment.threeForTwoItems.length >
                    0">
                    <thead>
                        <tr>
                            <th>买二赠一商品：</th>
                        </tr>
                        <tr>
                            <th>名称</th>
                            <th>数量</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in main.printReceiptServ.payment.threeForTwoItems">
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}{{item.unit}}</td>
                    </tr>
                </table>

                <p>
                    总计：
                    <span>{{main.payment.total}}</span>
                    (元)
                </p>
                <p ng-class="{true: 'show', false: 'hide'}[main.printReceiptServ.payment.sale]">
                    节省：
                    <span>{{main.printReceiptServ.payment.sale}}</span>
                    (元)
                </p>
            </div>
        </div>
    </div>
</div>